@import url('https://font.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}:root{
    --clr:#222327
}body{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:aqua;
}.Navigrtion{
    width: 400px;
    height: 70px;
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
}.Navigrtion ul{
    display: flex;
     width: 550px;
     
}.Navigrtion ul li{
position: relative;
list-style: none;
width: 70px;
height: 70px;
z-index: 1;
}.Navigrtion ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    text-align: center;
    font: 500;
}.Navigrtion ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5cm;
    
}ul{
    width: 550px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 39px;
    line-height: 39px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}